@import '../mixin'; 

.blockCreateGroupeConv{
    width:100%;
    height: 100%; 
    background-color: white;
    padding-top: 75px;

    .inputSearchUser{
        width: 100%; 
        padding: 5px;
        border : 1px solid rgb(96, 99, 97);
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .blockSearchUser{
        height: max-content;
        max-height: 150px;
        // border : 1px solid rgb(96, 99, 97);
        width: 100%;
        overflow-y: scroll;
        margin-bottom: 20px;
        // padding: 10px;

        .itemUser{
            display: flex; 
            flex-flow: row nowrap; 
            align-items: center;
            height: 35px;
            width: 100%;
            border: none;
            border-radius: 50px;
            padding: 0px;
            margin-bottom: 5px;
            background-color: rgb(237, 240, 241);

            &:hover{
                background-color: rgb(189, 203, 231);
            }


            img{
                max-height: 100%;
                border-radius: 50px ;

            }
            span{
                font-size: 14px;
                margin-left: 15px;
            }
        }
    }
}

.blockUserSelected{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: max-content;

    .btnUserSelected{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border: none;
        border-radius: 50px;
        background-color: rgb(237, 240, 241);
    
        &:hover{
            background-color: rgb(189, 203, 231);
        }
    
        p{
            margin:0;
            margin-right: 10px;
        }
        span{
            font-size: 18px;
            font-weight: 800;
            color: grey;
        
        }
    }
}

.blockText{
    display: flex;
    flex-flow: column nowrap; 
    margin: 20px 0px;

    label{
        font-size: 12px;
        color: $fontColor;
        margin-bottom: 5px;
    }
    input, textarea{
        width: 100%; 
        padding: 5px;
        border : 1px solid rgb(96, 99, 97);
        border-radius: 5px;
        margin-bottom: 5px; 
    }
}

.rowActionButton{
    position: fixed; 
    bottom: 0;
    left: 0; 
    right: 0;
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-around;
    background-color: white;
    @include shadowActionBottom;
    padding: 10px 10px;
    z-index: 10;
    
    
    .limiteBlock{
        width:66%;
        margin:0 auto; 
        display: flex; 
        flex-flow: row nowrap; 
        justify-content: space-between;
        align-items: flex-end;

        @media(max-width: 640px){
            width:100%;
            margin:0px 0px 0px 65px; 
        }
    }
}